*.box
packer_cache
.vagrant

# Ignore everything in the boxes except the Vagrantfile
ctfbox/*
!ctfbox/Vagrantfile
websrv/*
!websrv/Vagrantfile
bsdbox/*
!bsdbox/Vagrantfile
refbox/*
!refbox/Vagrantfile
santoku/*
!santoku/Vagrantfile
windows/*
!windows/Vagrantfile
!windows/README.md